streamlit==1.35.0
faiss-cpu==1.7.4
numpy==1.26.4
langchain==0.1.16
langchain-community==0.0.36
sentence-transformers==2.2.2
transformers==4.41.1
pdfminer.six==20221105
unstructured==0.12.6
unstructured-inference==0.7.26
unstructured-pytesseract==0.3.12
